<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DLSU BITES</title>
        <link rel="stylesheet" type="text/css" media="all" href="/css/style.css">
    </head>
    <body>
        <header class="topbar">
            <div class="left">
                <div class="brand">
                    <a class="logo" href="/"><img src="/logo.png"></img></a>
                    <a class="sitename" href="/">DLSU BITES</a>
                </div>
            </div>  
        </header>


        <main class="login-page">
            <div class="login-card">
                {{#if error}}
                    <p class="error">{{error}}</p>
                {{/if}}
                <form id="loginForm" action="/login" method="post">

                <label class="login-label">Username:</label>
                <input type="text" id="username" name="username" required />

                <label class="login-label">Password:</label>
                <input type="password" id="password" name="password" required/>

                <label class="remember-me">
                <input type="checkbox" name="rememberMe" value="true" id="rememberMe">Remember me
                </label>
                
                <button type="submit" class="login-btn">LOGIN</button>

                <a href="/signup" class="createAccount create-account">Create an Account</a>
                <br>
                <a href="/" class="return">Back Home</a>

                </form>
            </div>
        </main>
        <script src="/js/login.js"></script>
    </body>
</html>

